header
{
    background: #000000;
}

header .row
{
    display: flex;
    align-items: center;
}

h2
{
    color: #FFFFFF;
    font-weight: bold;
}

section
{
    padding: 20px;
}
nav
{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-center;
    
}
nav h3 
{
    padding: 0 20px;
    font-weight: bold;
   
}

header a
{
    color: #FFFFFF;
}

#contact_h3
{
    font-weight: bold;
}
