header
{
    background: #000000;
}

header .row
{
    display: flex;
    align-items: center;
}

h2
{
    color: #FFFFFF;
    
    
}

section
{
    padding: 20px;
}
nav
{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-center;
    
}
h3
{
    padding: 0 20px;
   
}
