section img
{
    display: block;
    margin: auto;
    width: 75%;
    padding: 30px 0 10px 0;
}
#source
{
    text-align: center;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    Font-size: 16px;
    padding: 0 0 20px 0; 
}
#author
{
    color: #808080
}
header
{
    background: #000000;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

header .row
{
    display: flex;
    align-items: center;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

h1 
{
    text-align: left;
    font-weight: bold;
    Font-size: 42px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

h1 a
{
    color: #000000;
    text-decoration: none;
}
h1 a:hover 
{
     color: #000000;
     text-decoration:none; 
      
}
} 

h2 
{
    display: block;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

section
{
    padding: 60px 0 0 0;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
p
{
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px 0 10px 0; 
}
li
{
    font-size: 20px;
    padding: 10px 0 10px 0;
}
code
{
    font-size: 18px;
    padding: 10px 0 10px 0;
    color: #000000;
    background: #F5F5F5;
    border-width: 5px;
}
nav
{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-center;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    
}
nav h3 
{
    padding: 0 20px;
    font-weight: bold;
   
}

header a
{
    color: #FFFFFF;
}

#contact_h3
{
    font-weight: bold;
}
footer li img {
    width: 32px;
    height: 32px;
}
footer ul {
    list-style: none;
}
footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}
footer {
    font-size: 12px;
    padding: 20px 0;
}
